
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>Hi, This is the Virat Page</h1>
        <h2>Hi, This is the RCB page</h2>
        <img src="{% static 'images/V_1.jpg' %}" alt="" srcset="">
        <img src="{% static 'images/v_3.jpg' %}" alt="" srcset="">
        
        
        

    </center>
    
</body>
</html>
